
#result {
     font-family:'Lato', sans-serif;
     background-color: #E6E6FA ;
     font-size: 24px;
     display: inline-block;
     padding: 20px;
     text-align: center;
     margin: 20px;
     border-radius: 10px
}